@use "../helper/" as *;

.circle {
  width: 54px;
  height: 54px;
  background-color: $var-lightBlue;
  border-radius: 50%;

  position: absolute;
}

.first {
  top: 150px;
  right: 10px;
}

.second {
  top: 360px;
  left: 10px;
}

.third {
  top: 650px;
  right: 10px;
}
