@use "../helper/" as *;

.circle {
  // Layout
  width: 16.67vw;
  height: 16.67vw;
  position: absolute;

  // Style
  background-color: $var-lightBlue;
  border-radius: 50%;
}

.first {
  top: 47.94vw;
  right: 4.55vw;
}

.second {
  top: 360px;
  left: 10px;
}

.third {
  top: 650px;
  right: 10px;
}
