.container {
  width: 100vw;
  background-color: black;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__body {
    display: flex;
    width: 100vw;
    flex-direction: column;
    &--info {
      // Layout
      display: flex;
      width: 100vw;
      margin-top: 100px;
      flex-direction: column;

      // Background
      background-image: url(../../../assets/image/parabola.png);
      background-repeat: no-repeat;
      background-size: contain;
      // background-position: contain;
      background-attachment: scroll;
    }
    &--skill {
      display: flex;
      // flex-wrap: wrap;
      flex-direction: column;
    }
  }
}
