.container {
  width: 100vw;
  height: 100vh;
  background-color: black;

  &__header {
    display: flex;
    justify-content: center;
  }
  &__body {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
}
