@use "../helper/" as *;

.header {
  width: 85vw;
  height: 12.73vw;
  border-radius: 30px;
  background-color: white;

  display: flex;
  margin-top: 23px;
  margin-bottom: 23px;
  padding: 4px 16px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;

  &__home {
    @include mixin-header;
    background-color: white;
    border: none;
  }

  &__nav {
    button {
      @include mixin-nav;
      background-color: white;
      border: none;
    }
  }

  @include mixin-res--mobile {
    max-width: 700px;
    max-height: 50px;
    &__nav {
      display: none;
    }
  }
  @include mixin-res--web {
    width: 91.15vw;
    max-width: 1200px;
    max-height: 50px;
    &__icon {
      display: none;
    }
    &__nav {
      ul {
        display: flex;
        list-style: none;
        padding-left: 0;
      }
      li {
        padding: 8px 12px;
      }
    }
  }
}
