.circle {
  width: 16.67vw;
  height: 16.67vw;
  position: absolute;
  background-color: #72b3ff;
  border-radius: 50%;
}

.first {
  top: 47.94vw;
  right: 4.55vw;
}

.second {
  top: 360px;
  left: 10px;
}

.third {
  top: 650px;
  right: 10px;
}
